<div>
    <div class="lista">
      <aside>
      <h1 style="color: #E0E6F8 ; text-align: center">MENU ALUMNO</h1>
      <hr>
      <div class="row">
        <div class="col-sm-4">
      
          <ul class="flex-column">
      
            <li class="item">  
              <button> 
                <a  style="color: white; text-align: center" class="link active" aria-current="page" href="#">
                  EVIDENCIAS ENTREGADAS
                </a>
              </button>
            </li>
  <br>
            <li class="item">  
              <button> 
                <a  style="color: white; text-align: center" class="link active" aria-current="page" href="#">
                  ACTIVIDADES COMPLEMENTARIAS 
                </a>
              </button>
            </li>
            <br>
            <li class="item">  
              <button> 
                <a  style="color: white; text-align: center" class="link active" aria-current="page" href="#">
                    RETICULA
                </a>
              </button>
            </li>
            
           </ul>
        </div>
      </div>
      </aside>
      </div>
  
      <div>
        <section>
          <div>
            <h1 style="color: #003366 ; text-align: center" >
              <h5>ACTIVIDADES ENTREGADAS</h5>
           </h1>
           <hr>
   
           <div class="row">
             <ul  style="color: #003366; text-align: center" aria-current="page">
                <button> 
                    <a  style="color: white; text-align: center" class="link active" aria-current="page" href="#">
                      COMPLEMENTARIAS
                    </a>
                  </button>
             </ul> 
           </div>
  
           <div class="row">
            <ul  style="color: #003366; text-align: center" aria-current="page">
                <button> 
                    <a  style="color: white; text-align: center" class="link active" aria-current="page" href="#">
                      DEPARTAMENTO DE DESARROLLO ACADEMICO
                    </a>
                  </button>
             </ul> 
           </div>
           
          </div>
        </section>
      </div>
      
     </div>
